<h6><%= link_to thing.title, thing.link %></h6>
<p class="summary"><%= awesome_truncate(strip_tags(thing.body), 100) %></p>
<p class="meta <%= thing.source.slug %>"><img src="<%=thing.source.home_url %>/favicon.ico" class="favicon" />Added <%= time_ago_in_words(thing.created_at) %> ago<% unless thing.tags.blank? %> :: Tagged: <%= thing.tags.collect{|u| link_to u, "/tags/#{u}"}.to_sentence.html_safe %><% end %></p>